.header-nav{
  padding: 0 20px;
  background: #00796b;
}

.page-footer{
  background: #00796b;

}

.content{
  min-height: calc(100vh - 64px - 70px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.progress{
  margin-top: 50px;
}

.button{
  background: #00796b;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

label:not(:last-child){
  margin-right: 1rem;
}